<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .tableSetting {
      border: black 1px solid;
      border-spacing: 0;
    }
    .bodySetting {
      border: black 1px solid;
      border-spacing: 0;
    }
    th {
      background-color: grey;
      color: white;
    }
    td {
      padding-left: 7px;
      padding-right: 7px;
    }
    p {
      color: blue
    }
    tr:nth-child(even) {
      background-color: lightgray
    }
  </style>
</head>

<body>
  <p> The range price for all places is between <strong>$<%= gMinPrice %></strong> and <strong>$<%= gMaxPrice %></strong></p>
  <br>
    <% for(const itemArray of list) { %>
      <table class="tableSetting">
        <thead>
          <tr>
            <th colspan="3" align="center" class="bodySetting" ><h2><%= itemArray.name %></h2></th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <% for(const objk in itemArray) {  %>
              <% if (objk !== "name") { %>

                <tr>

                  
                  <% if (itemArray[objk].modify === "Changed") { %>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: orange">Item: <%= Number(objk) + 1 %></h3>
                    </td>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: orange">Changed</h3>
                  <% } else if (itemArray[objk].modify === "Deleted") { %>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: red">Item: <%= Number(objk) + 1 %></h3>
                    </td>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: red">Deleted</h3>
                  <% } else if (itemArray[objk].modify === "New") { %>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: lime">Item: <%= Number(objk) + 1 %></h3>
                    </td>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: lime">NEW</h3>
                  <% } else { %>
                    <td colspan="1" class="bodySetting">
                      <h3 style="color: black">Item: <%= Number(objk) + 1 %></h3>
                    </td>
                    <td colspan="1" class="bodySetting">
                  <% } %>

                    <h3>PID: <%= itemArray[objk].pid %></h3>
                  </td>                  

                  <td colspan="1" class="bodySetting">
                    <h3><a href="<%= itemArray[objk].url %>"><%= itemArray[objk].title %> </a></h3>
                    <h3> Price: <%= itemArray[objk].price %> </h3>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tr>
        </tbody>
      </table>
      <br>
    <% } %>

</body>
</html>